<!DOCTYPE html>
</html>
<head>
  <meta charset="UTF-8">
  <title>GreenCodes - este usuario já existe</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
  <body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h1>Este nome de usuario já esta cadastrado em nosso site!</h1>
    </div>
    <div class="container">
        <a href="/">Clique aqui para ir ao login</a>
    </div>
  </body>
</html>
