<!DOCTYPE html>
</html>
<head>
  <meta charset="UTF-8">
  <title>GreenCodes - Login</title>
  <link href="login.css" rel="stylesheet" type="text/css" />
  <link href="home.css" rel="stylesheet" type="text/css" />
</head>
  <body>
    <nav>
      <div class="nav-message">
        <br>
        <h1 style="color: #00ff00">Green</h1>
        <h1 style="color: #fff"> Codes</h1>
      </div>
      <div class="nav-dashboard">
        <a href="/register"><button>Register</button></a>
      </div>
    </nav>
<br>
<br>
<br>
<div class="container">
    <h1>Sistema de Login</h1>
</div>
<br>
<div class="container">
<form method="POST">
<label for="user">Qual a usuario para se logar:</label><br>
<input type="text" required id="user" name="user" />
<label for="senha">Qual a senha para se logar:</label><br>
<input type="password" required id="senha" name="senha" />
<a href="/register">Não tem uma conta?</a><br><br>
<input type="submit" value="Confirmar" id="myBtn" onClick="" />
</form>
</div>
  </body>
</html>
