<!DOCTYPE html>
</html>
<head>
  <meta charset="UTF-8">
  <title>GreenCodes - Register</title>
  <link href="register.css" rel="stylesheet" type="text/css" />
  <link href="home.css" rel="stylesheet" type="text/css" />
</head>
  <body>
    <nav>
      <div class="nav-message">
        <br>
        <h1 style="color: #00ff00">Green</h1>
        <h1 style="color: #fff"> Codes</h1>
      </div>
      <div class="nav-dashboard">
        <a href="/"><button>Login</button></a>
      </div>
    </nav>
<br>
<br>
<br>
<div class="container">
    <h1>Sistema de Registro</h1>
</div>
<br>
<div class="container">
<form method="POST">
<label for="user">Qual será o nome do seu usuario:</label><br>
<input type="text" required id="user" name="user" />
<label for="senha">Qual será sua senha:</label><br>
<input type="password" required id="senha" name="senha" />
<a href="/">Já tem uma conta?</a><br><br>
<input type="submit" value="Confirmar" id="myBtn" onClick="" />
</form>
</div>
  </body>
</html>
