<!DOCTYPE html>
</html>
<head>
  <meta charset="UTF-8">
  <title>GreenCodes - Sucesso</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
  <body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h1>Você acabou de se logar com sucesso na sua conta!</h1>
    </div>
  </body>
</html>
